<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="/assets/images/onboarding.png">    
      <h2>Welcome to Easy Triage!</h2>  
      <p>Your online patient profiling application.</p>
    </ion-slide>
    <ion-slide>
      <img src="/assets/images/DoctorOnboard.png">
      <h2>Easy Access for Doctors</h2>
      <p>Have your records on-the-go so you don't have to repeat the triage process ever again.</p>
    </ion-slide>
    <ion-slide>
      <img src="/assets/images/stethoscope.png">
      <h2>Easy Access for Healthcare Institutions</h2>
      <p>Have your records on-the-go so you don't have to repeat the triage process ever again.</p>     
    </ion-slide>
  </ion-slides>
</ion-content>
