ion-content {
    --background:  #F1D6AB;
}

ion-list {
    padding: 0 1px;
    margin-top: 70px;
    height: auto;
    border-radius: 25px;
    margin-bottom: 22px;
    
}
   
ion-item {
    --background: #FAB95B;
    color: #A47E3B;
    font-weight: 550;
}



